<div class="row">

  <!--                Profile image-->
  <div class="col-md-auto">
    <app-profile-image [profile]="profile"></app-profile-image>
  </div>

  <!--                Profile info-->
  <div *ngIf="profile" class="col-md-6">
    <div class="d-flex align-items-baseline mt-3">
      <h2 class="profile-name lh-1 me-2">{{profile.firstName + ' ' + profile.lastName}}</h2>
      <h2 class="text-muted username">{{'@ ' + profile.username}}</h2>
    </div>

    <div class="d-flex align-items-baseline pt-3">
      <i *ngIf="profile.dateOfBirth" class="bi bi-calendar2-heart"></i>
      <h6 *ngIf="profile.dateOfBirth" class="ps-2 pe-4">{{profile.dateOfBirth | date}}</h6>
      <i *ngIf="profile.placeOfResidence" class="bi bi-house"></i>
      <h6 *ngIf="profile.placeOfResidence" class="ps-2">{{profile.placeOfResidence}}</h6>
    </div>

    <div *ngIf="(profile.company && profile.company.name) || profile.role" class="d-flex align-items-baseline">
      <i *ngIf="(profile.company && profile.company.name)" class="bi bi-people-fill pe-2"></i>
      <h6 *ngIf="(profile.company && profile.company.name)" class="text-dark pe-2">{{profile.company.name}}</h6>
      <h6 class="text-muted">{{profile.role}}</h6>
    </div>

    <div class="row row-cols-auto pt-2">
      <blockquote class="blockquote text-secondary">
        <p class="col profile-description">{{profile.description}}</p>
      </blockquote>
    </div>

    <div class="row row-cols-md-auto pt-2">
      <div *ngFor="let externalLink of profile.externalLinks">
        <i class="col-md-auto bi bi-link me-1"></i>
        <a class="col-md-auto link-dark" [href]="externalLink.link">{{externalLink.title}}</a>
      </div>
    </div>

  </div>

  <!--                Profile summary (overall + group ratings) -->
  <div *ngIf="profile" class="col">
    <app-profile-summary [profile]="profile"></app-profile-summary>
  </div>

</div>

