<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Profile info</title>
</head>
<body>

<div class="row" th:fragment="profile-info">

  <!--                Profile image-->
  <div class="col">

    <svg th:if="${profile.getImageString() == null}" class="bd-placeholder-img rounded-circle" width="250" height="250"
         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
      <rect width="100%" height="100%" fill="#777"></rect>
      <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
    </svg>

    <img th:if="${profile.getImageString() != null}" th:src="@{'data:image/png;base64, ' + ${profile.getImageString()}}" alt="#"
         class="profile-image">

  </div>

  <!--                Profile info-->
  <div class="col-lg-7">
    <div class="d-flex align-items-baseline">
      <h2 class="fw-bold lh-1 me-1" th:text="${profile.getFirstName() + ' ' + profile.getSecondName()}"></h2>
      <h2 class="text-muted username" th:text="'@ ' + ${profile.getUsername()}"></h2>
    </div>

    <div class="d-flex align-items-baseline pt-3">
      <i th:if="${profile.getDateOfBirth() != null}" class="bi bi-calendar2-heart"></i>
      <h6 th:if="${profile.getDateOfBirth() != null}" class="ps-2 pe-4" th:text="${#dates.format(profile.getDateOfBirth(), 'dd-MM-yyyy')}"></h6>
      <i th:if="${profile.getPlaceOfResidence() != null}" class="bi bi-house"></i>
      <h6 th:if="${profile.getPlaceOfResidence() != null}" class="ps-2" th:text="${profile.getPlaceOfResidence()}"></h6>
    </div>

    <div th:if="${profile.getCompany().getName() != null || profile.getRole() != null}" class="d-flex align-items-baseline">
      <i class="bi bi-people-fill pe-2"></i>
      <h6 th:if="${profile.getCompany().getName() != null}" class="text-dark pe-2" th:text="${profile.getCompany().getName()}"></h6>
      <h6 class="text-muted" th:text="${profile.getRole()}"></h6>
    </div>

    <div class="row row-cols-auto pt-2">
      <blockquote class="blockquote text-secondary">
      <p class="col profile-description" th:text="${profile.getDescription()}"></p>
      </blockquote>
    </div>

    <div class="row row-cols-md-auto pt-2">
      <div th:each="externalLink : ${profile.getExternalLinks()}">
        <i class="col-md-auto bi bi-link"></i>
        <a class="col-md-auto link-dark" th:href="${externalLink.link}" th:text="${externalLink.title}"></a>
      </div>
    </div>

  </div>

  <!--                Profile overall-->
  <div class="col">
    <input type="hidden" id="overall-value" th:value="${profile.getOverallRating()}">
    <div id="pie-mold" class="yummy-pie" data-percentage="80" data-baking-time="1200"></div>
    <script type="text/javascript" src="/scripts/chart.js"></script>
  </div>

</div>

</body>
</html>