<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" class="h-100">
<head>
    <meta charset="UTF-8">
    <title th:text="${profile.getUsername()}"></title>

    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/common.css">

    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>


    <script type="text/javascript" src="/scripts/profile.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>

</head>
<body class="h-100">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div th:replace="fragments/header :: plain-header"></div>

    <div class="container">
        <div class="row p-1 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

            <div th:replace="profile/profile-info :: profile-info"></div>
            <div th:replace="profile/profile-contacts :: profile-contacts"></div>
            <div th:replace="profile/profile-ratings :: profile-ratings"></div>

    </div>
</div>

<div th:replace="fragments/footer :: plain-footer"></div>
</div>
</body>
</html>