<div *ngIf="category" class="card h-100 p-2 border rounded align-top">

  <form [formGroup]="form" (ngSubmit)="onUpdate()" (input)="onChanges()" class="h-100">
    <div class="text-end mb-1">
      <button class="btn btn-light" (click)="onDelete()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <input class="form-control" formControlName="title">
    <input class="form-control" formControlName="description">

    <div class="text-center my-2">
    <button [disabled]="!hasChanges" type="submit" class="btn btn-light">Save changes</button>
    </div>

  </form>

</div>
