<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<footer class="text-center mt-auto text-black-50" th:fragment="start-footer">
    <p>Created by Michael <a href="/flight" class="text-black">"flight"</a> Fedorenko</p>
</footer>

<div class="container" th:fragment="plain-footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Flight, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">
                <i class="bi bi-instagram fs-3"></i>
            </a></li>
            <li class="ms-3"><a class="text-muted" href="https://t.me/FLlGHT">
                <i class="bi bi-telegram fs-3"></i>
            </a></li>
            <li class="ms-3"><a class="text-muted" href="https://github.com/FLlGHT">
                <i class="bi bi-github fs-3"></i>
            </a></li>
            <li class="ms-3"><a class="text-muted" href="#">
                <i class="bi bi-code-slash fs-3"></i>
            </a>
            </li>
        </ul>
    </footer>
</div>

</body>
</html>