<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<div class="container mb-auto" th:fragment="start-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">Overall</a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/settings" class="nav-link px-2 link-dark">Settings</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/admin/start" class="nav-link px-2 link-dark">Admin</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <a th:href="@{'/' + ${#authentication.name}}" class="btn btn-light text-decoration-none text-muted" sec:authentication="name"></a>
                    <button class="btn btn-light ms-2" type="submit">Sign out</button>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <button type="button" class="btn btn-outline-primary me-2">
                    <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
                </button>
                <button type="button" class="btn btn-primary" href="/registration">
                    <a class="nav-link fw-bold py-1 px-0" href="/registration">Sign up</a>
                </button>
            </div>
        </div>
    </header>
</div>

<div class="container" th:fragment="plain-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">Overall</a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/settings" class="nav-link px-2 link-dark">Settings</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/admin/start" class="nav-link px-2 link-dark">Admin</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <a th:href="@{'/' + ${#authentication.name}}" class="btn btn-light text-decoration-none text-muted" sec:authentication="name"></a>
                    <button class="btn btn-light ms-2" type="submit">Sign out</button>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <button type="button" class="btn btn-outline-primary me-2">
                    <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
                </button>
                <button type="button" class="btn btn-primary" href="/registration">
                    <a class="nav-link fw-bold py-1 px-0" href="/registration">Sign up</a>
                </button>
            </div>
        </div>
    </header>
</div>

</body>
</html>