<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${profile.getUsername()}"></title>

    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">

    <script type="text/javascript" src="/scripts/profile.js"></script>


    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div>

    <!--    Profile info -->
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

            <div class="row">

                <!--                Profile image-->
                <div class="col">

                    <svg class="bd-placeholder-img rounded-circle" width="250" height="250"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                </div>

                <!--                Profile info-->
                <div class="col-lg-7 p-3">
                    <h1 class="display-4 fw-bold lh-1" th:text="${profile.getUsername()}"></h1>
                    <h1 class="lead" th:text="${profile.getFullName()}"></h1>
                    <p class="lead" th:text="${profile.getDateOfBirth()}"></p>
                </div>

                <!--                Profile overall-->
                <div class="col">
                    <input type="hidden" id="overall-value" th:value="${profile.getOverallRating()}">
                    <div id="pie-mold" class="yummy-pie" data-percentage="80" data-baking-time="1200"></div>
                    <script type="text/javascript" src="/scripts/chart.js"></script>
                </div>

            </div>

            <!--     Profile ratings       -->
            <div class="album py-5">
                <div class="container">



                    <form action="#" method="post" th:action="@{/profile-save}" th:object="${profile}">

                        <input hidden th:name="|id|" th:value="${profile.getId()}">
                        <input hidden th:name="|fullName|" th:value="${profile.getFullName()}">
                        <input hidden th:name="|username|" th:value="${profile.getUsername()}">
                        <input hidden th:name="|dateOfBirth|" th:value="${profile.getDateOfBirth()}">
                        <input hidden th:name="|overallRating|" th:value="${profile.getOverallRating()}">

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div th:each="rating, itemStat : ${profile.getRatings()}">
                                <div class="col">

                                    <!-- Category card                                -->
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <p id="rangeCategory" th:text="${rating.getCategory().getTitle()}"></p>

                                            <div class="slider-container">

                                                <input hidden th:name="|ratings[${itemStat.index}].id|" th:value="${rating.getId()}">
                                                <input hidden th:name="|ratings[${itemStat.index}].category.id|" th:value="${rating.getCategory().getId()}">
                                                <input hidden th:name="|ratings[${itemStat.index}].category.title|" th:value="${rating.getCategory().getTitle()}">
                                                <input hidden th:name="|ratings[${itemStat.index}].rating|" th:value="${rating.getRating()}">

                                                <input th:name="|ratings[${itemStat.index}].grade|"
                                                       th:value="${rating.getRating()}"
                                                       type="range" min="0" max="99"
                                                       th:id="${rating.getCategory().getId()}" class="range-slider"
                                                       oninput="changeRangeValue(this)">

                                                <label th:id="'output' + ${rating.getCategory().getId()}"
                                                       class="rating-value"

                                                       th:text="${rating.getRating()}"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>