<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css">

    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">


<div th:replace="fragments/header :: plain-header"></div>


<div class="container">
    <main>
        <form class="needs-validation" novalidate=""
              th:action="@{/settings/save}" method="post" th:object="${settings}" enctype="multipart/form-data">
            <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Privacy settings</span>
                    </h4>

                    <input hidden th:field="*{id}">

                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Closed profile</h6>
                                <small class="text-muted">Only friends can view profile</small>
                            </div>
                            <label hidden for="isClosedProfile"></label>
                            <input id="isClosedProfile" type="checkbox" name="closedProfile"
                                   th:checked="*{closedProfile}">
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Closed grades</h6>
                                <small class="text-muted">Only friends can rate</small>
                            </div>
                            <label hidden for="isClosedGrades"></label>
                            <input id="isClosedGrades" type="checkbox" name="closedGrades" th:checked="*{closedGrades}">
                        </li>
                    </ul>


                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Profile information</h4>

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="image-upload" class="form-label">Profile image</label>
                            <input type="file" th:field="*{profile.image}"
                                   class="form-control" id="image-upload" placeholder="choose a new profile picture"
                                   value="">
                        </div>

                        <div class="col-6">
                            <label for="fullName" class="form-label">First Name</label>
                            <input type="text" th:field="*{profile.firstName}"
                                   class="form-control" id="fullName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="secondName" class="form-label">Second Name</label>
                            <input type="text" th:field="*{profile.secondName}"
                                   class="form-control" id="secondName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid second name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" th:field="*{account.username}"
                                       class="form-control" id="username" placeholder="Username" required="">
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Optional)</span></label>
                            <input th:field="*{profile.email}"
                                   type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="dateOfBirth" class="form-label">Date of birth <span
                                    class="text-muted">(Optional)</span></label>
                            <input th:field="*{profile.dateOfBirth}"
                                   type="date" class="form-control" id="dateOfBirth" placeholder="dd-mm-yyyy">
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address
                                <span class="text-muted">(Optional)</span></label>
                            <input th:field="*{profile.placeOfResidence}"
                                   type="text" class="form-control" id="address" placeholder="Russia, Saint-P">
                            <div class="invalid-feedback">
                                Please enter your address.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="description" class="form-label">Description
                                <span class="text-muted">(Optional)</span></label>
                            <textarea th:field="*{profile.description}"
                                      type="text" class="form-control" id="description" rows="3" placeholder="...">
                            </textarea>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                    </div>

                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Save profile information</button>
                </div>
            </div>
        </form>
    </main>
</div>


<div th:replace="fragments/footer :: plain-footer"></div>


<script type="text/javascript" src="/scripts/form-validation.js"></script>
</body>
</html>