<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Overall</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://fonts.cdnfonts.com/css/graffiti-font" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">

    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>

</head>
<body class="d-flex h-100 text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div th:replace="fragments/header :: start-header"></div>

    <main class="px-3">
        <h1>You can do all things.</h1>
        <p class="lead">Have a good time. Life is too short to get bogged down and be discouraged. You have to keep
            moving. You have to keep going. Put one foot in front of the other, smile and just keep on rolling.</p>
    </main>

    <div th:replace="fragments/footer :: start-footer"></div>
</div>

</body>
</html>